<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="web/css/public.css" />
<script type="text/javascript" src="web/js/jquery.min.js"></script>
<script type="text/javascript" src="web/js/public.js"></script>
<head></head>

<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="main.html" target="main"><div class="line">
					<img src="web/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin03.png" /><img class="icon2"
						src="web/img/coin04.png" /> 网站管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/tab.html"
						target="main">会员管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin01.png" /><img class="icon2"
						src="web/img/coin02.png" /> 公共管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/p3"
						target="main">广告管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/p2"
						target="main">脚本管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin07.png" /><img class="icon2"
						src="web/img/coin08.png" /> 会员管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a href="http://localhost:8080/p1" target="main"
						class="cks">会员管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin10.png" /><img class="icon2"
						src="web/img/coin09.png" /> 添加元素<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/pagemanage" target="main">添加元素</a><img class="icon5"
						src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin11.png" /><img class="icon2"
						src="web/img/coin12.png" /> 页面管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/page/getpagemanage" target="main">元素管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin14.png" /><img class="icon2"
						src="web/img/coin13.png" /> 心愿管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks">心愿管理</a><img class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin15.png" /><img class="icon2"
						src="web/img/coin16.png" /> 预警管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks">预警管理</a><img class="icon5"
						src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coin17.png" /><img class="icon2"
						src="web/img/coin18.png" />脚本结果<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="http://localhost:8080/page/result" target="main">查看结果</a><img class="icon5"
						src="web/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="web/img/coinL1.png" /><img class="icon2"
						src="web/img/coinL2.png" /> 系统管理<img class="icon3"
						src="web/img/coin19.png" /><img class="icon4"
						src="web/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a href="http://localhost:8080/getchangepassword"
						target="main" class="cks">修改密码</a><img class="icon5"
						src="web/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="web/img/coin111.png" /><img class="coin22"
						src="web/img/coin222.png" /><a class="cks" href="logout" target="_top">退出</a><img
						class="icon5" src="web/img/coin21.png" />
				</dd>
			</dl>

		</div>

	</div>
</body>
</html>
